---
---

@import "{{ site.theme }}";

$base-font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$brand-color: #306400;
$brand-darker-color: #1c3c00;

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}

.footer-col-wrapper a {
  color: $brand-darker-color;
}

.post-content a {
  color: $brand-color;
}

code {
  font-size: 100%;
}

/* .post-content p {
  text-align: justify;
  hyphens: auto;
}

.post-content ul li p + p {
  margin-bottom: $spacing-unit / 4;
} */
