---
---

@import "{{ site.theme }}";

$brand-color: #306400;
$brand-darker-color: #1c3c00;


h3#notas {
  margin-top: $spacing-unit * 4;
}

.footer-col-wrapper a {
  color: $brand-darker-color;
}

.post-content a {
  color: $brand-color;
}

code {
  font-size: 100%;
}

/* .post-content p {
  text-align: justify;
  hyphens: auto;
}

.post-content ul li p + p {
  margin-bottom: $spacing-unit / 4;
} */

.footnotes > ol > li > p {
  margin-botton: 0%;
}

blockquote {
  color: $brand-darker-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1);
  /* letter-spacing: -1px; */
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}
